div {
    font-family: Arial, Helvetica, sans-serif;
}
#heading {
    color: mediumseagreen;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
}

#container {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5px;
    position: relative;
    top: 30vh;
}

label {
    width: 100px;
    display: inline-flex;
    flex: 0 1 auto;
}

input[type=text], input[type=date], input[type=checkbox], input[type=password] {
    font-family: inherit;
    box-sizing: border-box;
    width: 200px;
    padding: 15px;
    border: 1px solid grey;
    border-radius: 4px;
    flex: 0 1 auto;
}

input[type=submit] {
    font-family: inherit;
    border-radius: 4px;
    color: white;
    background-color: mediumseagreen;
    border: none;
    cursor: pointer;
    width: 312px;
    padding: 15px;
    position: relative;
    top: 2vh;
    margin-bottom: 2vh;
    flex: 0 1 auto;
}

#forgotUsername {
    margin-top: 20px;
}

#createAccount {
    margin-top: 20px;
}

#createAccountLink {
    color: #0066cc;
    text-decoration: none;
}

#createAccountLink:hover {
    color: #003366;
    text-decoration: underline;
}