#calendar {
    border: 2px solid rgb(50, 50, 50);
    width: 100%;
    table-layout: fixed;
    border-radius: 5px;
    border-spacing: 0; /* Remove spacing between cells */
    background-color: #f9f9f9; /* Light background for the entire calendar */
}

#calendarHeader {
    text-align: center;
    width: 100%;
}

#calendarMonth {
    font-size: 20px;
    font-weight: bold;
}

.calendarMonthName {
    height: 10vh;
    background-color: #cad1fc;
    color: #ffffff;
}

.calendarTop {
    height: 10vh;
    cursor: pointer;
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
}

.calendarTop:hover {
    background-color: #e0e0e0;
    color: #000;
}

.calendarCell {
    height: 10vh;
    background-color: #ffffff; 
    padding: 10px; 
    border: 1px solid rgb(200, 200, 200); 
    text-align: left; 
    vertical-align: top; 
}

.calendarHeader {
    height: 5vh;
    border-radius: 5px;
}
