#first {
    color: mediumseagreen;
}

#last {
    color: mediumseagreen;
}

.notVisible {
    visibility: hidden;
}

div {
    font-family: Arial, Helvetica, sans-serif;
}

#create-account {
    position: relative;
    left: 50vw;
    top: 30vh;
}

label {
    width: 100px;
    display: inline-block;
    text-align: right;
    margin-right: 8px;
    position: relative;
    left: 30vw;
    top: 30vh;
}

input[type=text], input[type=date] {
    font-family: inherit;
    box-sizing: border-box;
    display: inline-block;
    width: 30vw;
    padding: 15px;
    margin-top: 5px;
    border: 1px solid grey;
    border-radius: 4px;
    position: relative;
    left: 30vw;
    top: 30vh;
}

input[type=submit] {
    font-family: inherit;
    width: 30vw;
    border-radius: 4px;
    color: white;
    background-color: mediumseagreen;
    border: none;
    cursor: pointer;
    padding: 15px;
    margin: 0px 112px;
    position: relative;
    left: 30vw;
    top: 25vh;
}