#Header {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    position: relative;
    border: 3px solid rgb(75, 75, 75);
    flex-wrap: wrap;
}

#headerRow1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#SiteName {
    text-align: left;
    width: 33%;
}

#LocationHeader {
    text-align: center;
    min-width: 33%;
}

#FlexButtons {
    display: flex;
    justify-content: right;
    gap: 12px;
    min-width: 33%;
}

#FlexCast {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#WebAppBody {
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: 78vh;
    border: 3px solid rgb(75, 75, 75);
}

#CurrentWeather {
    display: flex;
    padding: 4px;
    margin: 8px;
    height: 25%;
    border: 3px solid rgb(75, 75, 75);
}

#columns {
    display: flex;
    flex-direction: row;
    height: 70%;
    gap: 1%;
    margin: 4px;
    padding: 4px;
}

#leftColumn {
    display: flex;
    flex-direction: column;
    width: 30%;
    min-height: 100%;
    gap: 1%;
}

#leftColumn div {
    text-align: center;
    border: 3px solid rgb(75, 75, 75);
    height: 25%;
}

#middleColumn {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 1%;
}

#middleColumn div {
    text-align: center;
    border: 3px solid rgb(75, 75, 75);
    height: 50%;
}

#rightColumn {
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 1%;
}

#rightColumn div {
    text-align: center;
    border: 3px solid rgb(75, 75, 75);
}

#Suggestions {
    height: 25%;
}

#CalendarBox {
    height: 75%
}

/*
#Humidity {
    margin: auto;
    position: relative;
    top: 5vh;
    height: 11vh;
    width: 50vh;
    border: 3px solid rgb(75, 75, 75);
    text-align: center;
}

#UVIndex {
    margin: auto;
    position: relative;
    top: 6vh;
    height: 11vh;
    width: 50vh;
    border: 3px solid rgb(75, 75, 75);
    text-align: center;
}

#Wind {
    margin: auto;
    position: relative;
    top: 7vh;
    height: 11vh;
    width: 50vh;
    border: 3px solid rgb(75, 75, 75);
    text-align: center;
}


#WeatherAlerts {
    margin: auto;
    position: relative;
    bottom: 43.5vh;
    height: 24vh;
    width: 90vh;
    border: 3px solid rgb(75, 75, 75);
    text-align: center;
}

#SattelliteMap {
    margin: auto;
    position: relative;
    bottom: 43vh;
    height: 24vh;
    width: 90vh;
    border: 3px solid rgb(75, 75, 75);
    text-align: center;
}

#Suggestions {
    margin: auto;
    position: relative;
    width: 53.5vh;
    height: 11vh;
    bottom: 93.4vh;
    left: 73.5vh;
    border: 3px solid rgb(75, 75, 75);
    text-align: center;
}

#CalendarBox {
    margin: auto;
    position: relative;
    width: 53.5vh;
    height: 36.15vh;
    bottom: 92vh;
    left: 73.5vh;
    border: 3px solid rgb(75, 75, 75);
    text-align: center;
}

.OffsetUser {
    position: absolute;
    right: 2vw;
}

.OffsetWarning {
    position: absolute;
    right: 8vw;
}
*/
