body {
    background: linear-gradient(rgb(44, 71, 145),rgb(70, 214, 250), rgb(212, 223, 235));
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(49, 49, 59);
    height: 100vh;
}

#Header {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
    margin-left: 8px;
    margin-right: 8px;
    position: relative;
    border-radius: 4px;
    background-color: white;
    height: 15vh;
}

#headerRow1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: 8px;
    margin-right: 8px;
}

#SiteName {
    text-align: left;
    width: 33%;
}

#LocationHeader {
    text-align: center;
    min-width: 33%;
}

#FlexButtons {
    display: flex;
    justify-content: right;
    gap: 12px;
    min-width: 33%;
}

#FlexCast {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#WebAppBody {
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: 80vh;
}

#CurrentWeather {
    display: flex;
    padding: 4px;
    margin: 4px;
    height: 25%;
    border-radius: 4px;
    gap: 1%;
}

#CurrentWeather div {
    text-align: center;
    background-color: white;
    border-radius: 4px;
}

#Temperature {
    width: 71%;
}

#WeatherAlerts {
    width: 30%;
}

#columns {
    display: flex;
    flex-direction: row;
    height: 70%;
    gap: 1%;
    margin: 4px;
    padding: 4px;
}

#leftColumn { /* pre -> wind boxes*/
    display: flex;
    flex-direction: column;
    width: 30%;
    min-height: 100%;
    gap: 1%;
}

#leftColumn div { /* pre -> wind boxes*/
    text-align: center;
    border-radius: 4px;
    height: 25%;
    background-color: white;
}

#middleColumn { /* map box*/
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 1%;
}

#middleColumn div { /* map */
    text-align: center;
    border-radius: 4px;
    height: 100%;
    background-color: white;
}

#rightColumn { /* how far over suggestions/calendar go over*/
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 1%;
}

#rightColumn div {
    text-align: center;
    border-radius: 4px;
    background-color: white;
}

#Suggestions {
    height: 25%;
}

#CalendarBox {
    height: 75%
}