body {
    background: linear-gradient(rgb(44, 71, 145), rgb(70, 214, 250), rgb(212, 223, 235));
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(49, 49, 59);
    margin: 0;
    padding: 0;
}

#HeaderRibbon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh; /* Header height */
    background-color: rgb(50, 50, 50);
    top: 0; /* Aligns the header to the top of the page */
    left: 0;
}

#SiteName {
    text-align: left;
    color: white;
    margin-left: 16px;
    font-size: 24px;
}

#UserIcon {
    height: 4vh;
    width: auto;
    margin-right: 16px;
}

#Header {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
    margin-left: 8px;
    margin-right: 8px;
    position: relative;
    border-radius: 4px;
    background-color: white;
    height: 10vh;
    margin-top: 2vh;
    padding: 20px;
}

#headerRow1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: 8px;
    margin-right: 8px;
}

#LocationHeader {
    text-align: center;
    min-width: 25%;
    height: 6vh;
}

#suggestionBox div {
    padding: 8px;
    border-bottom: 1px solid #eee;
}
#suggestionBox div:hover {
    background-color: #f0f0f0;
}

#FlexCast {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#WebAppBody {
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: 80vh;
}

#CurrentWeather {
    display: flex;
    padding: 4px;
    margin: 4px;
    height: 25%;
    border-radius: 4px;
    gap: 1%;
}

#CurrentWeather div {
    text-align: center;
    background-color: white;
    border-radius: 4px;
}

#TempBox {
    width: 71%;
}

#WeatherAlertsBox {
    width: 30%;
}

#columns {
    display: flex;
    flex-direction: row;
    height: 70%;
    gap: 1%;
    margin: 4px;
    padding: 4px;
}

#leftColumn { /* pre -> wind boxes*/
    display: flex;
    flex-direction: column;
    width: 30%;
    min-height: 100%;
    gap: 1%;
}

#leftColumn div { /* pre -> wind boxes*/
    text-align: center;
    border-radius: 4px;
    height: 25%;
    background-color: white;
}

#middleColumn { /* map box*/
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 1%;
}

#middleColumn div { /* map */
    text-align: center;
    border-radius: 4px;
    height: 100%;
    background-color: white;
}

#rightColumn { /* how far over suggestions/calendar go over*/
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 1%;
}

#rightColumn div {
    text-align: center;
    border-radius: 4px;
    background-color: white;
}

#Suggestions {
    height: 25%;
}

#CalendarBox {
    height: 75%
}